<div class="form-group">
    <input type="password" name="password" placeholder="Password">
    <button type="button" title="Reveal Password" aria-pressed="false">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG content here -->
        </svg>
        <span class="sr-only">Reveal</span>
    </button>
</div>