{{> main-upload-container}}
<main class="main-container-download">
    <section class="section-container">
        <h2 class="section-title">Seleccion el PDF</h2>
        {{> pdf-container text="PDF #1"}}
        {{> pdf-container text="PDF #2"}}
    </section>
    <section class="section-container">
        <h2 class="section-title">Estados de cuenta</h2>
        <p class="approval-text">Aprobado por xxx razon</p>
        <p class="details-text">XXXXXXXXX<br />XXXXXXXXX<br />XXXXXXXXX<br />XXXXXXXXX<br />XXXXXXXXX<br />XXXXXXXXX</p>
    </section>
</main>