<div class="hero-section">
    <img src="images/g2l_solutions_leaders_Sin_Fondo.png" alt="hero background" class="hero-background" />
    <div class="hero-content">
        <h1 class="hero-title">G2L Solution.</h1>
        <p class="hero-subtitle">Explora los Features dispotnibles.</p>
    </div>
</div>
<div class="features-grid">
    <div class="features-carousel">
        <a href="/PDF_analyzer" class="feature-link">
            <div class="feature-item">
                <img src="images/PDF_analizer.jpg" alt="PDF analizer" class="feature-icon" />
                <h2 class="feature-title">PDF Analize</h2>
                <p class="feature-description">Analyze your PDF and confirm the information</p>
            </div>
        </a>
        <a href="/Criteria" class="feature-link">
            <div class="feature-item">
                <img src="images/Criterial.jpg" alt="Criteria Icon" class="feature-icon" />
                <h2 class="feature-title">Criterios</h2>
                <p class="feature-description">Modify the approval criteria</p>
            </div>
        </a>
        <a href="#" class="feature-link">
            <div class="feature-item">
                <img src="https://placehold.co/64x64?text=🚀" alt="rocket icon" class="feature-icon" />
                <h2 class="feature-title">Filtro 3</h2>
                <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </a>
    </div>
</div>